@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --color-white: var(--white);
    --color-secondary: var(--secondary);

    --color-neutral-lightest: var(--neutral-lightest);
    --color-neutral-lighter: var(--neutral-lighter);
    --color-neutral-light: var(--neutral-light);
    --color-neutral-medium: var(--neutral-medium);
    --color-neutral-medium-dark: var(--neutral-medium-dark);
    --color-neutral-dark: var(--neutral-dark);
    --color-neutral-dark-alt: var(--neutral-dark-alt);
    --color-neutral-darker: var(--neutral-darker);
    --color-neutral-darkest: var(--neutral-darkest);

    --color-primary-light: var(--primary-light);
    --color-primary-medium: var(--primary-medium);
    --color-primary: var(--primary);
    --color-primary-dark: var(--primary-dark);

    --color-secondary-medium: var(--secondary-medium);
    --color-tertiary-medium: var(--tertiary-medium);

    --color-info-dark: var(--info-dark);
    --color-info-medium: var(--info-medium);
    --color-info-light-dim: var(--info-light-dim);
    --color-info-lighter: var(--info-lighter);

    --color-warning-medium: var(--warning-medium);
    --color-warning-light: var(--warning-light);

    --color-error-medium: var(--error-medium);
    --color-error-light: var(--error-light);
}


:root {
    /* === Neutral === */
    --white: #ffffff;
    --secondary: #f09a82;
    --neutral-lightest: #F4F5F0;
    --neutral-lighter: #d6d7d2;
    --neutral-light: #bdbebc;
    --neutral-medium: #9fa0a0;
    --neutral-medium-dark: #6b6d6e;
    --neutral-dark: #353b40;
    --neutral-dark-alt: #2f3336;
    --neutral-darker: #252a2d;
    --neutral-darkest: #202328;

    /* === Primary === */
    --primary-light: #ddfaa5;
    --primary-medium: #9ce800;
    --primary: #9ce800;
    --primary-dark: #8dc63f;

    /* === Secondary === */
    --secondary-medium: #f09a82;

    /* === Tertiary === */
    --tertiary-medium: #831aed;

    /* === Info === */
    --info-dark: #0f4c56;
    --info-medium: #22bfdb;
    --info-light-dim: #a6e6f1;
    --info-lighter: #e6f9fc;

    /* === Warning === */
    --warning-medium: #feba0c;
    --warning-light: #ffe39e;

    /* === Error === */
    --error-medium: #cc371b;
    --error-light: #ebafa4;
}

.dark {
    /* === Neutral === */
    --white: #202328;
    --neutral-lightest: #252a2d;
    --neutral-lighter: #2f3336;
    --neutral-light: #353b40;
    --neutral-medium: #6b6d6e;
    --neutral-medium-dark: #9fa0a0;
    --neutral-dark: #d6d7d2;
    --neutral-dark-alt: #e6e7e2;
    --neutral-darker: #f4f5f0;
    --neutral-darkest: #ffffff;

    /* === Primary === */
    --primary-light: #ffffff;
    --primary-medium: #84a14b;
    --primary: #84a14b;
    --primary-dark: #8dc63f;

    /* === Secondary === */
    --secondary-medium: #f09a82;

    /* === Tertiary === */
    --tertiary-medium: #831aed;

    /* === Info === */
    --info-dark: #0f4c56;
    --info-medium: #22bfdb;
    --info-light-dim: #a6e6f1;
    --info-lighter: #e6f9fc;

    /* === Warning === */
    --warning-medium: #feba0c;
    --warning-light: #ffe39e;

    /* === Error === */
    --error-medium: #cc371b;
    --error-light: #ebafa4;
}

@layer components {

    /* === BODY 1 === */
    .body-1 {
        @apply text-[16px] leading-[22px] font-normal not-italic;
    }

    .body-1-medium {
        @apply text-[16px] leading-[22px] font-medium not-italic;
    }

    .body-1-bold {
        @apply text-[16px] leading-[22px] font-bold not-italic;
    }

    /* === BODY 2 === */
    .body-2 {
        @apply text-[14px] leading-[18px] font-normal not-italic;
    }

    .body-2-medium {
        @apply text-[14px] leading-[18px] font-medium not-italic;
    }

    .body-2-bold {
        @apply text-[14px] leading-[18px] font-bold not-italic;
    }

    .body-2-medium-uppercase {
        @apply text-[14px] leading-[18px] font-medium uppercase not-italic;
    }

    .body-2-bold-uppercase {
        @apply text-[14px] leading-[18px] font-bold uppercase not-italic;
    }

    .body-2-italic {
        @apply text-[14px] leading-[18px] font-normal italic;
    }

    /* === BODY 3 === */
    .body-3 {
        @apply text-[12px] leading-[16px] font-normal not-italic;
    }

    .body-3-medium {
        @apply text-[12px] leading-[16px] font-medium not-italic;
    }

    .body-3-bold {
        @apply text-[12px] leading-[16px] font-bold not-italic;
    }

    /* === BODY 4 === */
    .body-4 {
        @apply text-[10px] leading-[14px] font-normal not-italic;
    }

    .body-4-medium {
        @apply text-[10px] leading-[14px] font-medium not-italic;
    }

    .body-4-bold {
        @apply text-[10px] leading-[14px] font-bold not-italic;
    }
}

@layer base {
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        src: url('./fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Roboto';
        font-style: italic;
        font-weight: 400;
        src: url('./fonts/Roboto/Roboto-Italic.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        src: url('./fonts/Roboto/Roboto-Medium.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        src: url('./fonts/Roboto/Roboto-Bold.ttf') format('truetype');
    }


}